.about-header {
    background-color: @polo-blue;
    text-align: center;
    line-height: 1.5;
}

.build-team {
    .display-layout(flex, row);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;

    div {
        width: 45%;
        padding: 2% 1% 1%;
    }

    .img-team {
        width: 40%;
    }
}