.display-layout (@flex, @direction) {
    display: @flex;
    flex-direction: @direction;
}

.btn-class (@width, @height, @ftsize) {
    display: block;
    background-color: @nav-background;
    width: @width;
    height: @height;
    font-size: @ftsize;
    border-radius: 5px;
    color:@btn-font;

}