nav {
    .display-layout(flex, row);
    justify-content: space-between;
    background-color: @nav-background;
    padding: 4% 2%;

    div {
        font-size: 1.8rem;
    }

    a {
        .nav-links();
    }

    .links a {
        margin: 0 20px 0;
    }
    
}

.links {
    margin-left: 125px;
}

.register {
    margin-right: 125px;
}

.btn-outline {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}